<%= render 'books/list', books: @books, new_book: @new_book, user: @user %>




<h1>Books</h1>
 <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>opinion</th>
    </tr>

  </thead>

<tbody>

<% @user.books.each do |book| %>

   <tr>
     <td><%= book.title %></td>
     <td><%= book.body %></td>

   </tr>
<% end %>


</tbody>

</table>
