<h1>Welcome to <i class="fa-solid fa-book"></i>Bookers!</h1>
<p>In <i class="fa-solid fa-book"></i>Bookers,</p>
<p>you can share and exchange your opinions , inpressions , and emotions</p>
<p>about various books!</p>

<div class="row">
  <div class="col-md">
    <%= link_to "Log in", user_session_path, class:"btn btn-primary btn-block" %>
    <%= link_to "Sign up", new_user_registration_path, class:"btn btn-success btn-block" %>
  </div>
</div>